<h2>{{DdProduto.id ? "Atualizar Produto":"Cadastrar Produto"}}</h2>

<form (ngSubmit)="salvarProduto()">
    <div class="mb-3">
        <label for="nome">Nome do Produto:</label>
        <input type="text" id="nome" class="form-control" [(ngModel)]="DdProduto.produto" name="Produto" required>
    </div>
    <div class="mb-3">
        <label for="nome">Descrição:</label>
        <textarea id="nome" class="form-control" [(ngModel)]="DdProduto.descricao" name="descrição" required></textarea>
    </div>
    <div class="mb-3">
        <label for="nome">Foto:</label>
        <input type="text" id="nome" class="form-control" [(ngModel)]="DdProduto.foto" name="Foto" required>
    </div>
    <div class="mb-3">
        <label for="nome">Preço:</label>
        <input type="number" id="nome" class="form-control" [(ngModel)]="DdProduto.preco" name="descrição" required>
    </div>
    <button type="submit" class="bnt bnt-success">{{DdProduto.id ? "Atualizar":"Cadastrar"}}</button>
    <a routerLink="/painel-pricipal" class="btn btn-secondary">Cancelar</a>
</form>
